<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Shekhar</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="zerodha" class="nav-link">Zerodha-MF</a>
      </li>
      <li class="nav-item">
        <a routerLink="sidvin" class="nav-link">Axis-Liquid-MF</a>
      </li>
      <li class="nav-item">
        <a routerLink="shares" class="nav-link">Zerodha-Shares</a>
      </li>
      <li class="nav-item">
        <a routerLink="sharekhan" class="nav-link">Sharekhan-Shares</a>
      </li>
      <li class="nav-item">
        <a routerLink="total" class="nav-link">Total</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>